sphinx>=6.0.0
sphinx-autodoc-typehints
sphinx-book-theme>=1.0.1  # Older versions fail to pin pydata-sphinx-theme
sphinx-copybutton>=0.5.0
sphinx-remove-toctrees
sphinx-design
myst-nb>=1.0.0

# Packages used for notebook execution
IPython==7.16.3
ipykernel==5.3.4
cached_property
importlib_resources
tensorflow>=2.15.0